body {
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    color: red;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    font-style: italic;
}

p {
    text-align: center;
    font-style: italic;
    line-height: 20px;
}